<% if comments.any? %>
    <ul class="list-group">
    <% comments.each do |comment|%>
        <li class="list-group-item"><strong><%= comment.user.email %>: </strong><%= comment.body %><span>
        <div class="report-approval">
          <%= link_to 'Accept', post_comment_path(comment.post_id,comment.id, status: "hidden"), method: :patch, data: { confirm: 'Are you sure?' }, class:"btn btn-success" %>
          <%= link_to 'Deny', post_comment_path(comment.post_id,comment.id, status: nil), method: :patch, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
        </div>
        </span></li>
    <% end %>
    </ul>
<% else %>
  <blockquote class="blockquote">
    <p>No reported comments</p>
  </blockquote>
<% end %>
