<h2>Pending posts</h2><br/>

<% @pending_posts.includes(:user).each do |post| %>
  <%= render partial: 'posts/post', locals: { post: post, page: 'pending' } %>
<% end %><br/>

<%= link_to 'Back', posts_path, class:'btn btn-primary' %><br/><br/>

<!-- Pagination -->
<div class='pagination'>
  <%= paginate @pending_posts, theme: 'twitter-bootstrap-4' %>
</div>
