.header{
  margin-bottom: 50px;
}

.sub-comment{
  padding-left: 30px;
}

.comment-form{
  display: none;
}

.comment{
  margin-top: 20px;
}

.edit-delete-comment{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.report-approval{
  display: flex;
  justify-content: flex-end;
}

.suggestion{
  color: red;
}

.pagination{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.suggestion-form{
  display: none;
}
