<h3>Your active suggestions</h3><hr/><br/>

<% if @suggestions.any? %>
    <table class="table">
    <thead>
        <tr>
        <th scope="col">Post owner</th>
        <th scope="col">To Replace</th>
        <th scope="col">Replacement</th>
        <th scope="col">Handle</th>
        </tr>
    </thead>
    <tbody>
        <% @suggestions.each do |suggestion| %>
        <tr>
        <td><%= suggestion.post.user.email %></td>
        <td><%= suggestion.to_replace %></td>
        <td><%= suggestion.replacement %></td>
        <td><%= link_to 'Remove', remove_suggestion_path(suggestion.id),  method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger"%></td>
        </tr>
        <% end %>
    </tbody>
    </table>
<% else %>
  <blockquote class="blockquote">
    <p>You do not have any active suggestions</p>
  </blockquote>
<% end %>
